* {
  padding: 0%;
  margin: 0%;
}
ul {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
ul li {
  align-self: center;
  list-style: none;
  /* justify-content: center; */
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-family: cursive;
}
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: blue;
  cursor: pointer;
}
li:hover {
  color: blue;
  cursor: pointer;
}
nav {
  background-color: lightblue;
  height: 40px;
}
